@import "tailwindcss";
html {
  scroll-behavior: auto;
}

body {
  margin: 0;
  -webkit-font-smoothing:
    antialiased;
font-family: var(--font-mulish), sans-serif;
  text-rendering:
    optimizeLegibility;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-tenor-sans), sans-serif;
}
